input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:focus{
    background: #ffffff;
    color: $primaryColor;
  }
}

.button.button-primary, a.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background: $primaryBgColor;
  font-family: inherit;
  &:hover{
    background: $primaryColor;
  }
}

.info-results{
  background: white;
  color: #898998;
  margin: 10px;
  line-height: 25px;
  padding: 15px;
  .results{
    width: 50%;
    display: inline-block;
    h3{
      margin-bottom: 0;
    }
  }
  .actions {
    width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
    a{
      color: #898998;
      font-size: 25px;
      margin: 5px;
    }
  }
}
