input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  &:focus{
    background: #ffffff;
    color: white;
  }
}

.button.button-primary, a.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background: $primaryBgColor;
  font-family: inherit;
  &:hover{
    background: $primaryColor;
  }
}