$NewsPerLine			: 3;
$NewsPerLineMobile		: 1;
$NewsBackground			: #f1f1f1;
$expandedNews			: #fff;
$newTitleFontSize		: 35px;
$newTitleColor			: #343434;
$copyFontSize			: 15px;
$copyColor				: rgba(52,52,52,0.8);
$dateColor				: #3c95b5;
$enableGallery			: true;

.expanded-new {
	padding:50px 0px;
	background:$expandedNews;

	.container {
		text-align:left;
		@extend %sizing;
		@extend %fixHeight;
		@if $enableGallery == true {
			> div {
				@extend %sizing;
				width:49%;
				@media screen and (max-width: 980px){
					width:100%;
				}
				&:first-child {
					float:left;
					+ div {

						float:right;
					}
				}
			}
		}
	}

	h3 {
		@extend %light;
		font-size:$newTitleFontSize;
		font-weight:normal;
		color:$newTitleColor;
		@media screen and (max-width: 768px){
			font-size:24px;
		}
	}
	.share-box{
		@media screen and (max-width: 768px){
			display:block;
		}	
	}
	p {
		@extend %light;
		font-size:$copyFontSize + 3px;
		color:$copyColor;
		@media screen and (max-width: 768px){
			font-size:15px;
		}		
		&.date {
			font-size:$copyFontSize;
			color:$dateColor;
		}
	}

	.fullpost{
		p {
			font-size:$copyFontSize;
		}
	}

	.aside {
		position:relative;
		.new-slider-block {
			display:block;
			list-style-type:none;

			.news-slider {
				@extend .slider;

				li {
					display:block;
					list-style-type:none;

					img {
						display:block;
						max-width:100%;
						width:auto;						
					}
				}

			}
		}


		#thumbnailSlider {

			.owl-dots {
				display:none;
			}

			.owl-item {
				cursor:pointer;
				padding:2px 1px;
				@extend %sizing;
				.item  {
					img {
						@include effect(all,0.25s,ease);
					}
					&.current {
						img {
						    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
						    filter: gray; /* IE6-9 */
						    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */			
					    }
					}		
				}
			}

		}		
	}

	@extend .share-block;
}







