$FeaturedNewsCopyColor 			: white;
$FeaturedNewstitleSize			: 31px;
$FeaturedNewsLinkSize			: 17px;
$fixedFeaturedNewBg				: #4a9cba;
$fixedFeaturedNewWidth			: 350px;
$fixedFeaturedNewCopyColor		: $FeaturedNewsCopyColor;
$fixedFeaturedNewCopySize		: 15px;
$fixedFeaturedNewTitleSize		: 37px;
$fixedFeaturedNewTitleColor		: #fff;
$fixedFeaturedNewBtnBackground	: #2d7b9f;
$fixedFeaturedNewBtnColor  		: $FeaturedNewsCopyColor;

.featured-news-slider {
	position:relative;
	@extend %fixHeight;	


	.featured-new {
		z-index:2;
		padding:0px 15px;
		width:$fixedFeaturedNewWidth;
		position:absolute;
		left:0px;
		top:0px;
		height:100%;
		background:$fixedFeaturedNewBg;
		@extend %sizing;

		@media screen and (max-width: 767px){
			width:100%;
			height:auto;
			position:relative;
			padding:0px 0px;
		}
		.copy {
			@extend %sizing;
			padding:15% 38px;
			@media screen and (max-width: 768px){		
				padding:15px;
			}	
			h2 {
				font-size:$fixedFeaturedNewTitleSize;
				color:$fixedFeaturedNewTitleColor;
				font-weight:normal;
				@media screen and (max-width: 768px){
					font-size:24px;
				}			

			}
			p {
				font-size:$fixedFeaturedNewCopySize;
				line-height:1.25;
				@extend %light;
				color:$fixedFeaturedNewCopyColor;
			}
		}

		.btn {
			@extend %light;
			@extend %sizing;
			font-weight:400;
		    left: 0px;
		    bottom: 0px;
		    position: absolute;
		    width: 100%;
		    padding: 18px 10px;
		    text-transform:uppercase;
		    text-align:center;
		    text-decoration: none;
		    line-height: 46px;
		    background:$fixedFeaturedNewBtnBackground;
		    color:$fixedFeaturedNewBtnColor;
		    text-align:center;
		    font-size: 15px;
			@media screen and (max-width: 767px){		
				position:relative;
				display:block;
				padding:10px;
			}			    
		    .icon {
			    font-size: 40px;
			    position: relative;
			    top: 11px;
			    margin-top:-5px;
			    left: -15px;
		    }
		}

	}
	.owl-nav {
		display:block !important;
		@media screen and (max-width: 767px){
			display:none !important;
		}
		position:relative;
		bottom:0px;
		.owl-prev, .owl-next {
			position:absolute;
			bottom:180px;
			font-size:0px;
			&:before {
				@include br(50%);
				padding:5px;
				border:2px solid #002c3e;
				color:#002c3e;
				font-size:35px;
				@extend %iconfont;				
			}
		}
		.owl-prev {
			left:15px;
			&:before {
				content:'\e907';
			}
		}
		.owl-next {
			right:15px;
			&:before {
				content:'\e906';				
			}
		}
	}
	ul {
		padding-left:$fixedFeaturedNewWidth;
		@extend %fixHeight;
		@extend %sizing;
		@media screen and (max-width: 767px){
			padding-left:0px;
		}
		li {
			@media screen and (max-width: 767px){
				overflow:hidden;
			}
			display:block;
			position:relative;
			list-style-type:none;

			&:before {
				content:'';
				background:rgba(0,0,0,0.1);
				@extend %absoluteFull;
				@include effect(all,0.4s,ease);
			}

			.content {
				padding:50px;
				@extend %sizing;
				position:absolute;
				width:100%;
				left:0px;
				bottom:0px;
				text-align:left;

				@media screen and (max-width: 767px){
					position:relative;
				}

				* {
					@extend %light;
					color:$FeaturedNewsCopyColor;
				}

				h2 {
					font-size:$FeaturedNewstitleSize;
					font-weight:400;
				}

				p {
					display:block;
					padding:15px 0px;
					line-height:1.5;
				}

				.visibleOnHover {
					@include rotate(0);
					max-height: 0;
					overflow: hidden;
					@include effect(all,0.4s,ease);
				}

				.btn-border {
					padding:10px 35px;
					font-size:$FeaturedNewsLinkSize;
				}

			}

			img {
				display:block;

				@media screen and (max-width: 767px){
					width:auto !important;
					height:100%;
					width:auto;
					position:absolute;
					top:0px;
				}				
			}

		

		}

		.center {
			&:hover {

				&:before {
					background:rgba(0,94,101,0.8);
				}

				.content {

					.visibleOnHover {
						max-height: 150px;
					}

				}

			}	
		}

		.owl-item {
			@include effect(all,0.5s,ease);
			@include opacity(0.5);

			&.active{
				&.center {
					@include opacity(1);
					.content {
						@include effect(all,0.25,ease);
						&:hover {
							background:rgba(0,44,62,0.8);
						}
					}
				}
			}
		}

	}

}