$heroHeaderHeight		: 375px;
$heroTitleFontSize		: 30px;
$heroTitleFontSizeColor	: #fff;
$heroCopyFontSize		: 19px;
$heroCopyFontColor		: $heroTitleFontSizeColor;


/*BG LISTS*/

$bgPageContactus		:'contacto';
$bgPageAccesos			:'accesos';
$bgPageAccesosRecibos	:'accesos-recibo';

.hero-header {
	overflow:hidden;
	@extend %sizing;
	position:relative;
	width:100%;
	height:$heroHeaderHeight;	
	background:url('../images/header-banners/novedades.jpg') no-repeat center center;

	.container {
		margin:50px 0px;
		width:100%;
		max-width: 100%;
		position:absolute;
		top:50%;
		@include go-Y(-50%);
		@media screen and (max-width: 767px){
			margin:0px 0px;
			p {
				padding-bottom:0px;
				br {
					display:none;
				}
			}
		}
	}

	&.contact-us {
		background:url('../images/header-banners/#{$bgPageContactus}.jpg') no-repeat center center;
	}	
	&.accesos {
		background:url('../images/header-banners/#{$bgPageAccesos}.jpg') no-repeat center center;
	}	
	&.accesos-recibo {
		background:url('../images/header-banners/#{$bgPageAccesosRecibos}.jpg') no-repeat center center;		
	}


	p {
		@extend %light;
		color:$heroCopyFontColor;
		font-size:$heroCopyFontSize;
		@media screen and (max-width: 767px){
			font-size:15px;
		}		
	}
	h2 {
		@extend %light;
		font-weight:400;
		font-size:$heroTitleFontSize;
		color:$heroTitleFontSizeColor;
		@media screen and (max-width: 767px){
			font-size:24px;
		}
	}

}