$NewsPerLine			: 3;
$NewsPerLineIpad		: 2;
$NewsPerLineMobile		: 1;
$NewsBackground			: #f1f1f1;
$margin		 			: 15px;
$SingleNewsBackground	: #fff;
$singleNewsImageHeight	: 195px;
$contentAlignament		: left;
$newDateColor			: rgba(39, 46, 54, 0.9);
$newDateSize			: 14px;
$newTitleColor			: #00415b;
$newTitleSize			: 21px;
$hoverBackground		: rgba(0, 29, 41, 0.88);
$hoverColor				: #fff;


.news {
	padding:50px 0px;
	background:$NewsBackground;	
	@media screen and (max-width: 767px){
		padding:15px 0px;
	}
	ul {
		font-size:0;
		@extend %fixHeight;
		li {
			
			@extend %sizing;
			list-style-type:none;			
			margin:5px 0px;
			padding:10px 0px;
			display:inline-block;

			.new-box {
				> a {
					@extend %sizing;
					position:relative;
					padding:10px 10px 20px 10px;
					display:block;
					background:$SingleNewsBackground;

					&:before {
						@include rotate(0deg);
						@include effect(all,0.25s,ease);	
						@include opacity(0);									
						position:absolute;
						left:0px;
						top:0px;
						z-index:2;
						content:'';
						display:block;
						width:100%;
						height:100%;
						background:$hoverBackground;
					}

					&:hover {

						&:before {
							@include opacity(1);					
						}
						.hover-box {
							@include go-Y(-50%);								
							@include opacity(1);							
						}
					}

					.hover-box {
						@include effect(all,0.25s,ease);
						@include opacity(0);
						z-index:999;
						position:absolute;
						@include XY();
						color:#fff;
						top:50%;
						left:0px;
						font-size:30px;
						@extend %fixHeight;
						width: 100%;
						text-align: center;
						line-height: 3.5;	
						@extend %sizing;
						@include go-Y(0%);		
						@media screen and (max-width: 1023px){
							font-size:25px;
							
						}
						.icon {
							font-size:80px;
						    position: relative;
							top: 25px;
							left: -5px;		
							@media screen and (max-width: 1023px){
								font-size:50px;
								top:15px;
							}					
						}						
					}

					.header-image {
						display:block;
						width:100%;
						height:$singleNewsImageHeight;
						background-repeat:no-repeat !important;
						background-position:center center !important;
					}
					p {
						@extend %light;
						color:$newDateColor;
						font-size:$newDateSize;
					}
					h3 {
						@extend %light;
						font-weight:400;
						color:$newTitleColor;
						font-size:$newTitleSize;
					}
					text-align:$contentAlignament;
				}				
			}


			@if $margin != '' { 
				.new-box {
					padding:0px #{$margin}; 
					@media screen and (max-width: 768px){ 
						padding:0px;
					}					
				}
			}

			@if $NewsPerLine != '' { //Define Elements Structure
				width: 100% / $NewsPerLine;
		  	}
			@if $NewsPerLineIpad   != '' {
				@media screen and (max-width: 980px){ 
					//Set grid for mobile devices
					width: 100% / $NewsPerLineIpad;
					text-align:left;
				}				
			}
		  	@if $NewsPerLineMobile != '' { //Define Mobile Queries for Structure
				@media screen and (max-width: 767px){ 
					//Set grid for mobile devices
					width: 100% / $NewsPerLineMobile;
				}
			}

		}

	}

}




