$IconsPerLine		: 4;
$IconsPerLineMobile	: 1;

.quotes{
	display:block;
	padding:100px 0px;
	background:url('../images/quotes/01.jpg') no-repeat center center;
	background-size:cover;
	@media screen and (max-width: 768px){
		padding:80px 0px;
	}
	h2 {
		color:#fff;
		@extend %light;
		font-size:31px;
		@media screen and (max-width: 768px){
			font-size:0px;
		}
		em {
			font-style:normal;
			font-weight:400;
		}
		> * {
			padding:0px 10px;
			position:relative;
			vertical-align:middle;
			display:inline-block;
		}
		@media screen and (max-width: 768px){
			em {
				width:75%;
				font-size:24px;
				line-height: 1;
			}
		}

		&:before, &:after {
			position:relative;
			display:inline-block;
			vertical-align:middle;			
			content:'';
			width:52px;
			height:46px;
			background:url('../images/quotes/quote.svg') no-repeat center center;
			@media screen and (max-width: 768px){
				width:9%;
				background-size:100% !important;
			}
		}

		&:after {
			background:url('../images/quotes/quote02.svg') no-repeat center center;
		}	
		
		

	}

}