$shareBlockCopySize		: 15px;
$shareBlockIconSize		: 25px;


.share-block {
	padding:15px 0px;
	vertical-align:middle;
	display:block;
	p {
		vertical-align:middle;
		display:inline-block;
		font-size:$shareBlockCopySize;
	}
	.share-box {
		vertical-align:middle;
		display:inline-block;
		@extend %fixHeight;
		list-style-type:none;
	
		li {
			margin:0px 0px 0px 10px;
			display:inline-block;
			a {
				cursor:pointer;
				position:relative;
				text-decoration:none;
				font-size:22px;
				color:#fff;
				@include br(50%);
				padding:5px;
				width:$shareBlockIconSize;
				height:$shareBlockIconSize;
				display:block;
				@include effect(all,0.25s,ease);

				.icon {
					position:absolute;
					@include XY();
				}
				&:hover {
					background:#293647 !important;
				}
				
			}

			&.facebook {
				a {
					background:#004a80;
				}
			}
			&.twitter {
				a {
					background:#00aeef;
				}
			}
			&.whatsapp {
				display:none;
				@media screen and (max-width: 768px){
					display:inline-block;
				}
				a {
					background:#00a651;
				}
			}
			&.email {
				a {
					background:#666666;
				}
			}

		}

	}
	
}		
