$IconsPerLine		: 4;
$IconsPerLineMobile	: 1;
$toolsBackground	: #ebf3f6;
$IconMaxWidth		: 120px;
$borderRadius		: 50%;
$border				: 3px solid #035070;
$inactiveBackground	: #ebf3f6;
$hasDivisor			: true;

.tools {
	padding:50px 0px;
	background:$toolsBackground;	
	-webkit-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0px 3px 15px 0px rgba(0,0,0,0.25);	
	.container {
		@media screen and (max-width: 767px){ 
			padding:0px;
		}
	}
	ul {
		display:block;
		font-size:0;
		@extend %fixHeight;

		li {
			
			@extend %sizing;
			list-style-type:none;			
			margin:25px 0px;
			padding:10px 0px;
			display:inline-block;

			@if $hasDivisor == true {

				border-right:1px solid #ccc;
				&:nth-child(#{$IconsPerLine}n+#{$IconsPerLine}) {
					border-right:0px;
				}
				&:last-of-type{
					border-right:0px;
				}
			}

			@if $IconsPerLine != '' { //Define Elements Structure
				width: 100% / $IconsPerLine;
		  	}

		  	@if $IconsPerLineMobile != '' { //Define Mobile Queries for Structure
				@media screen and (max-width: 767px){ 
					//Set grid for mobile devices
					width: 100% / $IconsPerLineMobile;
					margin:0px;
				}
			}
			
			p {
				@media screen and (max-width: 767px){
					font-size:17px;
					padding-top:20px;
					line-height: 1;
				}				
			}
			span {
				position:relative;

				&:before, &:after{

					@if $border != '' { //Define Border color for Icon container
						border:$border;	
						
					}					
					z-index:1;
					content:'';
					width:100%;
					height:100%;
					display:block;
					position:absolute;
					left:0px;
					top:0px;
					@if $borderRadius != '' { //Define Border Radius for Icon container
						@include br($borderRadius);
					}					
				}

				&:before {
					@include bbg(top,bottom,#023042, #3c95b5);
				}

				&:after {
					@include effect(all,0.25s,ease);					
					@include opacity(1);
					@if $inactiveBackground != '' { // Set Icon Background Color
						background:$inactiveBackground;
					}	
					z-index:2;
				}

				@if $borderRadius != '' { //Define Border Radius for Icon container
					@include br($borderRadius);
				}

				@if $IconMaxWidth != '' { // Define Icon container size & add extra Padding				
					width:$IconMaxWidth + 20px;
					height:$IconMaxWidth + 20px;

					@media screen and (max-width: 767px){
						width:$IconMaxWidth;
						height:$IconMaxWidth;
					}

					img {
						z-index:3;
						position:relative;
						width:$IconMaxWidth;
						@include effect(filter,0.25s,ease);
						@include opacity(1);
						&.hover {
							@include opacity(0);
							display:block;
							max-width:72%;
							position:absolute;
							@include XY();
						}
					}

				}



				@extend %sizing;
				display:inline-block;
				padding:20px;
				img {
					max-width:100%;
				}

			}

			a {
				display:block;
				&:hover {
					img {
						@include opacity(0);
					}
					.hover {
						@include opacity(1);
					}
					span {
						&:after {
							@include opacity(0);
						}

					}
				}
			}			

		}

	}

}


