#fullview .full-view .header ul li img {
	max-width:100%;
}
.grid.column-7-3 {
	> * {
		padding:0px;
	}

	> .left-side {
		float:none;
		width:100%;
	}

	> .right-side {
		overflow:hidden;
		float:none;
		width:100%;
	}

}

.grid.column-6-4 > * {
	width:100% !important;
}

.heading-map {
	img {
		max-width:500px;
	}
}

footer .white-label .inline-map-box {
	max-width:280px;
}

footer .white-label .container > div{
	padding:0px 15px;
}

.accesos ul li a .light-hover {
	width:80%;
}

.contact-details ul li {
	width:100%;
	float:none;
}

.featured-products.no-slider ul li {
	width:33.33%;	
} 


.servicios .service-half-box .lista-de-servicios li h3 {
	width:180px;
}

.empresa .equipo-details .heading-box ul li h3 {
	font-size:22px;
}

.empresa .equipo-details .content-copy-box ul li h3 {
	font-size:22px;
}

.empresa .equipo-details .content-copy-box:before, .empresa .equipo-details .content-copy-box:after {
	height:77px;
}

