body {
	padding-top:70px;
}
.grid.column-3 > *{
	width:100%;
	max-width:100%;
	margin:0px;
}

#buscador form input {
	width: 35%;
}

#mostviewed ul li  {
	&.small {
	    width: 39%;
	    margin: 5px 0px;
	}
	&.large {
		width:60%;
		margin: 5px 0px;
	}
}

footer .white-label .container > div:first-child{
	width:100%;
	max-width:100%;
	text-align:center;
	#logo {
		margin:0px auto;
		+ br + p {
			text-align:center;
			margin-bottom:25px;
		}
	}
}


header {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	&.scrolled {
		margin-top:0px;
	}

	.info-empresa{
		display:none;
	}
	#logo {
		top:-2px !important;
		height:50px;
		z-index:99999999;
	}
	nav {
		@include effect(all,0.25s,linear);
		display:block;
		@include opacity(0);
		position:fixed;
		left:0px;
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		background:#fff;
		height:100%;
		width:100%;
		ul {
			width:80%;
			position:fixed;
			left:50%;
			top:50%;
			@include XY();		
			li {
				width:100%;
				display:block;
				&:hover , &.active{
					border:1px solid #ccc;
					background:transparent;
				}
				&:before {
					display:none;
				}
				a {
					text-transform:uppercase;
				}
				.submoneda {

				}
			}
		}
	}

}

.only-mobile {
    display:block;
}

.openMobile {
	z-index:9999999;
	svg {
		display:block;
		@include effect(all,0.25s,ease);
		@include rotate(0deg);
	    width: 50px;
	    position: absolute;
	    right: 10px;
	    top: 0px;
	    fill:#dc2d1c;
	    @include opacity(1);
	    path  {
	    	@include rotate(0deg);
	    	@include effect(all,0.5s,ease);
	    }
	}
}

.menu-open {
	.openMobile {
		svg {
			top:3px;
			right:10px;
			@include rotate(1800deg);
			path {
				&:first-child {
					+ path {
						@include opacity(0);
					}
				}
				&:first-child {
   					
					@include rotate(45deg);
					-webkit-transform-origin: 20% 50%; 	
					transform-origin:  20% 50%;	
					+ path {
						+ path {
							@include rotate(-45deg);
							-webkit-transform-origin: 10% 0%; 	
    						transform-origin:  10% 0%;							
						}
					}
				}
			}
		}
		
	}
	header { 
		nav {
			-ms-transform: translateX(0%);
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
			@include opacity(1);
		}
	}
}

#mostviewed ul li{
	&.large , &.small {
		width:49.5%;
	}
}

.featured-slider > .owl-carousel {
	height:550px;
}



.contacto {
	.full-view {
		background:transparent;
	}
	.left-side{
		width:100%;
	}
}

.contact-location .were-we-are > div {
	max-width:350px;
}

footer .white-label {
	> .container {
		> div {
			margin-bottom:10px;
			&:before {
				display:none;
			}
			width:100%;
			ul {
				li {
					display:inline-block;
					margin:0px 10px;
				}
			}
		}
		.icon-list{
			> p {
				width:49%;
				display:inline-block;
				&:first-child {
					text-align:right;
					padding-right:10px;
					+ p {
						padding-left:10px;
						text-align:left;

					}
				}
			}
		} 
		.inline-map-box {
			max-width:350px;
		}		
	}
}

body.menu-open {
	overflow:hidden;
}
.novedades .new-lists li {
	width:50%;
}

.distribuidores .lista-de-distribuidores li {
	width:33.33%;
}

header nav > ul {
	overflow:scroll;
	max-height:85%;
	margin-top:7%;
}
header nav ul li {
	text-align:center;
	a{
		width:100%;
		text-align:center;
	}
}
header nav ul li.submenu:hover {
	background:#a7c62c;
}
header nav ul li.submenu .submenu {
	background:transparent;
	position:relative;
	width:100%;
	z-index:999;
    top: auto;
    left: auto;
    -ms-transform:none;
    -webkit-transform: none;
    transform: none;
    box-sizing:border-box;
	margin-top:10px;
	padding:0px;
    li,a {
       box-sizing:border-box; 	
    }
    li a {
    	padding:5px 2px;
    	font-size:15px;
    }
}

header nav ul li.fb-link a {
	display:inline-block;
	width:35px;
	height:35px;
	.icon {
	    position: relative;
    	right: 1px;
    	top: 8px;
	}
}


.about-cuffia-services {
	width:100% !important;
	> div {
		padding:0px !important;
	}
}

.empresa .green-box p:before{
	left:20px;
}

.empresa .box-slider-copy .grid > div{
	img {
		margin:0px auto;
	}
}

.empresa .equipo-details .content-copy-box ul.grid.multirow {
	display:block;
	li {
		display:block;
		width:100%;
		float:left;
		height:auto;
	}
}

.novedades-slider-container .owl-nav .owl-prev, .slider .owl-nav .owl-prev, .featured-news-slider .owl-nav .owl-prev, .novedades-slider-container .owl-nav .owl-next, .slider .owl-nav .owl-next, .featured-news-slider .owl-nav .owl-next {
	top:-175px;
}


.empresa .service-half-box.second-box{
    background-size: 102% !important;
    padding-top: 200px;
    background-position: top left;
}


.fullproduct {
	.novedades-slider-container {
		.owl-nav {		
			.owl-next, .owl-prev {
				top:-175px !important;
				background:transparent !important;
				&:before {
					color:#fff !important;
					font-size:70px !important;
				}
			}
		}
	}
}

.box-slider-copy{
	.only-mobile {
		display:block;
		* {
			text-align:left;
		}
		+ div {
			display:none;
		}
	}
}

.empresa {
	.box-slider-copy {
		.grid {
			> div {
				padding-right:0px;
			}
		}
	}
}