.help{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  background: #ccc;
  text-align: center;
  line-height: 35px;
  color:#666;
}

.introjs-overlay {
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(18, 26, 100, 0.9) 100%)!important;
}

.introjs-helperLayer {
  border: 1px solid rgba(34, 83, 184, 0.5)!important;
  box-shadow: 0 2px 15px rgba(14, 81, 217, 0.4)!important;
}

.introjs-helperNumberLayer{
  background: rgba(255,255,255,0.9)!important;
  color: #171b41!important;
}

.introjs-tooltipbuttons {
  a:hover, a:focus {
    color: #333;
    border-color: #bcbcbc;
    text-decoration: none;
    box-shadow: 0px 1px 1px #e3e3e3;
  }
}