.container {
    position:relative;
    max-width:1220px;
    padding:0px 15px;
    margin:0px auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

