

/* Color Variables */

$white          : #ffffff;
$primaryColor    : #f4bd19;
$secondaryColor  : #333e48;

$Text		: #000000;
$link		: $white;
$bg 		: $white;

/* Font size Variables */
$fontNav    : 14px;
$bigTitle   : 47px;
$copy		: $fontNav;


/* Text tratament */
$left 		: left;
$center 	: center;
$right 		: right;