footer {

	.contact{
		height: 275px;
		background: url('../images/footer/bg.png');
		background-size: cover !important;
		background-position: center center !important;
		.container{
			@include Y-50();
			padding-bottom: 10px;
			p{
				@extend %light;
				font-size: 35px;
				text-align: center;
				color:white;
				@media(max-width: 767px){
					font-size: 26px;
				}
			}
			a{
				width:220px;
				line-height: 48px;
				text-align: center;
				@include br(4px);
				background: $primaryColor;
				color: $secondaryColor;
				font-size: 16px;
				display: block;
				margin: 10px auto;
				@include effect(all, 0.5s, ease);
				&:hover{
					background: $secondaryColor;
					color: white;
				}
			}
		}

	}

	.main{
		height: 90px;
		width: 100%;
		background: $secondaryColor;
		.container{
			height: 100%;
			.logo{
				@include Y-50();
				width: 50%;
				position: relative;
				float: left;
				text-align: left;
			}
			.info{
				@include Y-50();
				width: 50%;
				position: relative;
				float: right;
				p{
					font-size: 13px;
					text-align: right;
					color: white;
				}
			}
		}

	}
	.rights{
		height: 80px;
		width: 100%;
		background: #eee;
		.container {
			height:100%;
			.info {
				@include Y-50();
				position: relative;
				width: 50%;
				color: #a3a3a3;
				float: left;
				text-align: left;
				font-size: 11px;
			}
			.kodear {
				@include Y-50();
				position: relative;
				float: right;
				text-align: right;
				opacity: 0.3;
				&:hover{
					opacity: 0.6;
				}
				img{
					width: 110px;
				}
			}
		}
	}
	@media(max-width: 767px){
		.main{
			height: auto;
			.container{
				height: auto;
				.logo{
					width: 100%;
					transform: none;
					padding: 20px 0;
					img{
						margin: auto;
						display: block;
					}
				}
				.info{
					width: 100%;
					float: none;
					transform: none;
					p{
						text-align: center;
					}
				}
			}
		}
	}

	@media(max-width: 550px){
		.rights{
			height: 120px;
			.container{
				.info{
					width: 100%;
					text-align: center;
					position: relative;
					float: none;
					top: 25px;
					transform: none;
				}
				.kodear{
					width: 100%;
					float: none;
					position: relative;
					display: block;
					text-align: center;
					top: 40px;
					transform: none;
				}
			}
		}
	}
}
