$breakDown: 	945px;
$headerHeight:	125px;

html{
	padding-top: $headerHeight;
	@include effect(padding,0.2s,ease);
	&.scrolled{
		padding-top: 90px;
		header {
			height: 90px;
			@include box-shadow();
			.container .items .close{
				top:25px;
			}
		}
	}
	section.blur{
		filter:blur(5px);
	}
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 98;
	height: $headerHeight;
	background: white;
	@include effect(all,0.2s,ease);
	.container{
		width: 100%;
		height: 100%;
		.logo{
			@include Y-50();
			width: 260px;
			position: relative;
			display: inline-block;
			float: left;
			max-width: 80%;
			text-align: left;
		}
		/* Menu icon styles */

		.menu-icon-wrapper {
			display: none;
			@include Y-50();
			position: relative;
			float: right;
			width: 34px;
			height: 34px;
			pointer-events: none;
			transition: 0.1s;
			z-index:9999;
			&.scaled {
				@include transform( translateY(-50%) scale(0.5) );
			}
			svg{
				width: auto;
				height: auto;
				position: absolute;
				top: -33px;
				left: -33px;
				-webkit-transform: scale(0.1);
				-ms-transform: scale(0.1);
				transform: scale(0.1);
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;
				path{
					stroke: $secondaryColor;
					stroke-width: 60px;
					stroke-linecap: round;
					stroke-linejoin: round;
					fill: transparent;
				}
			}
			.menu-icon-trigger {
				position: relative;
				width: 100%;
				height: 100%;
				cursor: pointer;
				pointer-events: auto;
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				&:hover, &:focus{
					outline: none;
				}
			}
		}
		.items{
			@include Y-50();
			position: relative;
			display: inline-block;
			float: right;
			.close{
				position: absolute;
				display: none;
				top: 43px;
				right: 15px;
				@include effect(top,0.2s,ease);
				&:after {
					@extend %iconfont;
					content: "\e902";
					color: white;
					font-size: 40px;
					cursor: pointer;
				}
			}

			.item{
				line-height: 32px;
				display: inline-block;
				font-size: 20px;
				padding: 10px;
				color:$secondaryColor;
				text-decoration: none;
				font-weight: 600;
				min-width: 35px;
				@include effect(color,0.2s,ease);
				&:hover, &.active{
					color: $primaryColor;
				}
				&.social-network {
					span {
						position: absolute;
						top: 50%;
						@include transform(translate(-50%, -50%));
						border: 2px solid $secondaryColor;
						padding: 10px;
						border-radius: 50%;
						width: 25px;
						height: 25px;
						@include br(50%);
						&:before {
							@extend %iconfont;
							line-height: 24px;
							font-size: 25px;
						}
						&.twitter:before {
							content: '\e90e';
						}
						&.instagram:before {
							content: '\e910';
						}
						&.facebook:before {
							content: '\e911';
						}
						&.google:before {
							content: '\e912';
						}
					}
				}
				@media (min-width: $breakDown) and (max-width: 1366px){
					font-size: 18px;
					line-height: 24px;
					&.social-network {
						height: 24px;
						width: 24px;
						&.social-network {
							.twitter:before {
								line-height: 24px;
								font-size: 22px;
							}
						}
					}
				}
			}


		}

		@media(max-width: $breakDown){
			.menu-icon-wrapper{
				display: inline-block;
			}
			.items {
				position: fixed;
				z-index: 99;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				transform: none;
				padding: 120px 20px;
				box-sizing: border-box;
				pointer-events: none;
				&:before{
					content: '';
					position: absolute;
					background: $secondaryColor;
					opacity: 0;
					right: 0;
					top:0;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					@include effect(all,0.2s,ease);
				}
				&.show{
					pointer-events: auto;
					display: block;
					&:before{
						opacity: 0.9;
					}
					.close{
						display: block;
					}

					&+.menu-icon-wrapper {
						svg {
							path {
								stroke: #fff;
							}
						}
					}
					.item{
						display: block;
						color: white;
						pointer-events: auto;
						opacity: 1;
						&.social-network{
							span {
								border: none;
							}
						}
					}
				}
				.item{
					opacity: 0;
					pointer-events: none;
				}

				.item{
					line-height: 45px;
					pointer-events: none;
					border-top: 1px solid #ccc!important;
					border-bottom: 1px solid #ccc!important;
					margin: -1px 10%!important;
					-webkit-transition: -webkit-transform 0.5s;
					transition: transform 0.5s;
					-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
					transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
					-webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
					transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
					-webkit-transform-origin: 100% 50%;
					transform-origin: 100% 50%;
				}

				&.effect .item {
					-webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
					transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
				}

				.item:nth-child(6),
				&.effect .item:nth-child(1) {
					-webkit-transition-delay: 0.05s;
					transition-delay: 0.05s;
				}
				.item:nth-child(5),
				&.effect .item:nth-child(2) {
					-webkit-transition-delay: 0.1s;
					transition-delay: 0.1s;
				}
				.item:nth-child(4),
				&.effect .item:nth-child(3) {
					-webkit-transition-delay: 0.15s;
					transition-delay: 0.15s;
				}
				.item:nth-child(3),
				&.effect .item:nth-child(4) {
					-webkit-transition-delay: 0.2s;
					transition-delay: 0.2s;
				}
				.item:nth-child(2),
				&.effect .item:nth-child(5) {
					-webkit-transition-delay: 0.25s;
					transition-delay: 0.25s;
				}
				.item:nth-child(1),
				&.effect .item:nth-child(6) {
					-webkit-transition-delay: 0.3s;
					transition-delay: 0.3s;
				}
				.menu{
					display: inline-block;
				}

			}

		}
	}
}

@media(max-width: 767px){
	html{
		padding-top: 90px;
	}
	header {
		height: 90px;
		.container .items .close{
			top:25px;
		}
	}
}

@keyframes menuBg {
	from {
		right: -55px;
		top: -45px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border-top-right-radius: 0%;
	}
	50%{
		opacity: 0.8;
	}
	to {
		width: 100%;
		height: 100%;
		right: 0;
		top:0;
		border-radius: 0;

	}

}



