section#clients{
  background: white;
  padding: 50px 0px;
  h2{
    color: $secondaryColor;
    font-size: 27px;
    text-align: center;
    padding: 55px;
  }
  .owl-carousel{
    @include Y-50();
    .owl-stage-outer{
      margin: 10px 100px;
    }
    .owl-nav{
      .owl-prev,.owl-next{
        &:before{
          color:$secondaryColor;
        }
      }
    }
  }
  @media(max-width: 767px){
    padding: 25px 0px;
    .owl-carousel{
      .owl-stage-outer{
        margin: 10px 10px;
      }
    }
    .owl-nav{
      display: none;
    }
  }
}