section#news{
  background: url('../images/news/bg.png');
  background-size: cover!important;
  .items{
    .item{
      @include bs();
      width: 50%;
      padding: 80px;
      border: 5px solid white;
      float:left;
      &:nth-child(2n+1){
        border-left: none;
      }
      &:nth-child(2n){
        border-right: none;
      }
      .info{
        h2{
          &:after {
            content: '';
            width: 100px;
            height: 5px;
            background: white;
            display: block;
            margin: 40px 0;
          }
        }
        p{
          @extend %light;
          color:white;
          font-size:21px;
        }
      }
    }
    @media(max-width: 767px){
      .item{
        padding: 20px;
        width: 100%;
        border-bottom: 4px solid white;
        border-left: 0;
        border-right: 0;
        height: auto!important;
        .info {
          h2{
            font-size: 35px;
          }
          p {
            font-size: 19px;
          }
        }
      }

    }
  }
}