section#phrases{
  background: $primaryColor;
  padding: 120px 0;
  .container{
    p{
      @extend %light;
      color: $secondaryColor;
      font-size: 26px;
      text-transform: uppercase;
      &:before{
        @extend %iconfont;
        @include Y-50;
        position: absolute;
        content: "\e90b";
        color: $secondaryColor;
        left: -25px;
      }
      &:after{
        @extend %iconfont;
        @include Y-50;
        position: absolute;
        content: "\e90a";
        color: $secondaryColor;
        right: -25px;
      }
    }
    @media(max-width: 1366px) {
      p{
        padding: 35px;
        font-size: 20px;
        &:before{
          left: 20px;
        }
        &:after{
          right: 20px;
        }
      }
    }
  }
  @media(max-width: 767px){
    padding: 65px 0;
  }
}