section#services {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  h2, h3 {
    text-align: center;
  }
  h3{
    color: $secondaryColor;
  }

  .items{
    .item{
      position: relative;
      min-height: 350px;
      .image{
        position: absolute;
        bottom: 0;
        top: 0;
        width: 50%;
        display: inline-block;
        background-size: cover!important;
        background-position: center center!important;
      }
      .info{
        @include bs();
        width: 50%;
        float: right;
        display: inline-block;
        padding: 35px 15% 35px 35px;
        h4{
          @extend %semibold;
          color: $primaryColor;
          font-size: 35px;
        }
        p{
          font-size: 17px;
        }
      }
      &:nth-child(2n+1){
        .image{
          left: 0;
        }
      }
      &:nth-child(2n){
        .info{
          float: left;
          padding: 35px 35px 35px 15%;
        }
        .image{
          right: 0;
        }
      }
    }
    @media(max-width: 1366px) {
      .item{
        .info{
          h4{
            font-size: 30px;
          }
          p{
            font-size: 15px;
          }
        }
      }
    }
    @media(max-width: 767px){
      .item{
        .image{
          width: 100%;
          position: relative;
          height: 150px;
        }
        .info{
          width: 100%;
          &:nth-child(n){
            padding: 15px;
          }
        }
      }
    }
  }
}