section#staff{
  padding: 90px 0;
  h2, h3{
    text-align: center;
  }
  h3{
    color:$secondaryColor;
  }
  .container{
    padding: 0 60px;
    .item{
      position: relative;
      display: inline-block;
      width: 30%;
      margin: 10px  1.5%;
      height: 456px;
      background-size: cover!important;
      background-position: center center!important;
      &:before{
        content: '';
        position: absolute;
        z-index: 0;
        top:0;
        bottom: 0;
        width: 100%;
        left: 0;
        opacity: 0.8;
        @include bbg(bottom, top, black, transparent);
      }
      &:nth-child(3n){
        margin-right: 0;
      }
      &:nth-child(3n+1){
        margin-left: 0;
      }
      &.text{
        background: $primaryColor;
        &:before{
          opacity: 0;
        }
        .info{
          @include bs();
          height: 100%;
          padding: 60px 45px;
          p{
            @extend %light;
            color: $secondaryColor;
            font-size: 30px;
            &:before{
              @extend %iconfont;
              position: absolute;
              content: "\e90b";
              color: $secondaryColor;
              left: 15px;
              padding-top: 5px;
              opacity: 0.5;
            }
            &:after{
              @extend %iconfont;
              position: absolute;
              content: "\e90a";
              color: $secondaryColor;
              padding-top: 5px;
              opacity: 0.5;
            }
          }
        }
      }
      .info{
        position: absolute;
        padding: 45px 15px 30px 45px;
        bottom: 0;
        left: 0;
        right: 0;
        h4{
          @extend %light;
          font-weight: bold;
          font-size: 17px;
          z-index: 1;
          text-align: left;
          &:before{
            @extend %iconfont;
            content: "\e900";
            color:$primaryColor;
            position: absolute;
            left: 20px;
          }
        }
        p{
          color:white;
          font-size: 19px;
          text-align: left;
          min-height: 70px;
        }
      }
    }
    @media(max-width: 1366px) {
      .item{
        .info{
          h4{
            &:before{

            }
          }
        }
        &.text{
          .info{
            p{
              font-size: 24px;
            }
          }
        }
      }
    }
    @media(max-width: 991px) {
      padding: 0 15px;
    }
  }

  @media(max-width: 767px){
    padding-top: 45px;
    .container{
      .item {
        width: 100%;
        height: 315px;
        margin: 10px 0;
        &.text {
          height: auto;
          .info{
            position: relative;
            height: auto;
            left: 0;
            padding: 50px;
            p{
              &:before{
                left: 25px;
              }
            }
          }
        }
      }
    }

  }

}