section#exchange-details{

  .row {
    font-family: "montserrat-regular", sans-serif;
    margin-top: 30px;
    background-color: white;
    padding: 0 50px 0 50px;
    .arrow_percent{
      width: 9px;
    }
    .datatablesCustomTitle{
      font-size: 26px;
      font-weight: 600;
    }
  }
  .order_book_trade_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-template-rows: 50px 60px 270px;
    .submit_trade{
      left: 20%;
    }
    .input-group{
      .control-label{
        padding-left: 5px;
        padding-right: 0;
        width:90px;
      }
      padding: 11px 0 0 0;
      position: relative;
      display: table;
      border-collapse: separate;
      box-sizing: border-box;
      font-family: "montserrat-regular", sans-serif;
      font-size: 12px;
      line-height: 1.42857143;
      color: #333;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #d6e2eb;
      }
      .input-trade{
        height: 40px;
        margin: 0;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        text-align: right;
        border-radius: 0;
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        font-size: 22px;
        border: 1px solid #d6e2eb;
        box-shadow: inset 0 0 1px rgba(0,0,0,.075);
        padding: 6px 12px;
      }
      .input-group-btn{
        position: relative;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
        width: 1%;
        display: table-cell;
        box-sizing: border-box;
        border-collapse: separate;
        font-family: "montserrat-regular", sans-serif;
        line-height: 1.42857143;
        color: #333;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        .btn, .btn-primary{
          height: 40px;
          width: 80px;
          border: 1.5px solid $primaryColor;
          border-radius: 4px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          position: relative;
          color: #fff;
          -webkit-appearance: button;
          background-color: #6692f7;
          margin: 0;
          padding-top: 6px;
          padding-right: 6px;
          padding-bottom: 6px;
          padding-left: 6px;
          display: inline-block;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.42857143;
          text-align: center;
          vertical-align: middle;
        }
      }
      .input-group-addon {
        font-family: "montserrat-regular", sans-serif;
        border-collapse: separate;
        box-sizing: border-box;
        background-color: #f2f5f9;
        border: 1px solid #d6e2eb;
        padding: 4px 8px;
        font-size: 13px;
        width: 70px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: table-cell;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
      }
    }
    .order_book_title_trade{
      grid-column: 1 / 3;
      grid-row: 1;
      font-size: 25px;
      padding-top: 5px;
      margin-top:22px;
      text-align: center;
      vertical-align: middle;
      font-weight: 700;
    }
    .order_book_title_trade_bid{
      grid-column: 1 / 2;
      grid-row: 2;
      background-color: #f2f5f9;
      font-size: 16px;
      padding-top: 5px;
      margin-top:22px;
      vertical-align: middle;
      font-weight: 400;
    }
    .order_book_title_trade_ask{
      grid-column: 2 / 3;
      grid-row: 2;
      background-color: #f2f5f9;
      padding-top: 5px;
      font-size: 16px;
      margin-top:22px;
      vertical-align: middle;
      font-weight: 400;
    }
    .order_book_trade_bid {
      grid-column: 1;
      grid-row: 3;
      margin-top:-25px;
    }
    .order_book_trade_ask {
      grid-column: 2;
      grid-row: 3;
      margin-top:-25px;
    }
  }

  .order_book_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-template-rows: 45px 450px;
    .order_book_title_bid{
      grid-column: 1 / 2;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_title_ask{
      grid-column: 2 / 3;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_bid {
      grid-column: 1;
      grid-row: 2;
    }
    .order_book_ask {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .info_container{
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 40px;
    position:relative;
    #seeHideVolumeButton{
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      margin: 1px;
      opacity: 0.7;
      outline: none;
      position:absolute;
      bottom: 10px;
      left: 50px;
      vertical-align: middle;
      padding: 0 1rem 0 1rem;
      -webkit-appearance: button;
      letter-spacing: 0;
      height: 22px;
      font-size: 8px;
      line-height: 0;
      cursor: pointer;
      font-family: "montserrat-regular", sans-serif;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      transition: all 0.3s ease-in-out;
      -webkit-font-smoothing: antialiased;
      word-spacing: normal;
      text-indent: 0;
      text-shadow: none;
      text-rendering: auto;
    }
    .graphic {
      width: 6fr;
      grid-column: 1 / 7;
      height: 445px;
      font-size: 9px;
      .amcharts-period-input, .amcharts-period-input-selected{
        height: 22px;
        font-size: 8px;
        line-height: 0;
        letter-spacing: 0;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .amcharts-period-selector-div{
        div{
          color: white;
        }
      }
      .amcharts-end-date-input, .amcharts-start-date-input{
        visibility:hidden;
      }
    }
    .info_currency {
      grid-column:  7 / 10;
      .info_currency_table {
        border: none;
        .currency_header {
          position:relative;
          vertical-align: middle;
          height: 100px;
          .currency_header_title {
            position:absolute;
            width: 100%;
            top:35px;
            left:85px;
            font-weight: 600;
            font-size: 20px;
          }
          .currency_header_img {
            position:relative;
            width: 70px;
          }
        }
        tr {
          .key_values {
            text-align: left;
            vertical-align: middle;
            font-weight: 600;
            font-size: 20px;
          }
          .usd_values {
            text-align: right;
            font-size: 10px;
            vertical-align: top;
          }
          .currency_values {
            img {
              width: 16.5px;
            }
            font-weight: 600;
            vertical-align: bottom;
            font-size: 18px;
            text-align: right;
            border: none;
          }
        }
      }
    }
  }
}