section#exchange-details{

  .row {
    margin-top: 30px;
    background-color: white;
    padding: 0 50px 0 50px;
    .arrow_percent{
      width: 9px;
    }
    .datatablesCustomTitle{
      font-size: 26px;
      font-weight: 600;
    }
  }
  .order_book_trade_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-template-rows: 45px 450px;
    .order_book_title_trade_bid{
      grid-column: 1 / 2;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_title_trade_ask{
      grid-column: 2 / 3;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_trade_bid {
      grid-column: 1;
      grid-row: 2;
    }
    .order_book_trade_ask {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .order_book_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-template-rows: 45px 450px;
    .order_book_title_bid{
      grid-column: 1 / 2;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_title_ask{
      grid-column: 2 / 3;
      grid-row: 1;
      text-align: center;
      font-size: 24px;
      margin-top:25px;
      vertical-align: middle;
      font-weight: 600;
    }
    .order_book_bid {
      grid-column: 1;
      grid-row: 2;
    }
    .order_book_ask {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .info_container{
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 40px;
    position:relative;
    #seeHideVolumeButton{
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      margin: 1px;
      opacity: 0.7;
      outline: none;
      position:absolute;
      bottom: 10px;
      left: 50px;
      vertical-align: middle;
      padding: 0 1rem 0 1rem;
      -webkit-appearance: button;
      letter-spacing: 0;
      height: 22px;
      font-size: 8px;
      line-height: 0;
      cursor: pointer;
      font-family: "montserrat-regular", sans-serif;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      transition: all 0.3s ease-in-out;
      -webkit-font-smoothing: antialiased;
      word-spacing: normal;
      text-indent: 0;
      text-shadow: none;
      text-rendering: auto;
    }
    .graphic {
      width: 6fr;
      grid-column: 1 / 7;
      height: 445px;
      font-size: 9px;
      .amcharts-period-input, .amcharts-period-input-selected{
        height: 22px;
        font-size: 8px;
        line-height: 0;
        letter-spacing: 0;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .amcharts-period-selector-div{
        div{
          color: white;
        }
      }
      .amcharts-end-date-input, .amcharts-start-date-input{
        visibility:hidden;
      }
    }
    .info_currency {
      grid-column:  7 / 10;
      .info_currency_table {
        border: none;
        .currency_header {
          position:relative;
          vertical-align: middle;
          height: 100px;
          .currency_header_title {
            position:absolute;
            width: 100%;
            top:35px;
            left:85px;
            font-weight: 600;
            font-size: 20px;
          }
          .currency_header_img {
            position:relative;
            width: 70px;
          }
        }
        tr {
          .key_values {
            text-align: left;
            vertical-align: middle;
            font-weight: 600;
            font-size: 20px;
          }
          .usd_values {
            text-align: right;
            font-size: 10px;
            vertical-align: top;
          }
          .currency_values {
            img {
              width: 16.5px;
            }
            font-weight: 600;
            vertical-align: bottom;
            font-size: 18px;
            text-align: right;
            border: none;
          }
        }
      }
    }
  }
}