section#exchange-details{
  .row {
    margin-top: 30px;
    background-color: white;
    padding: 0 50px 0 50px;
    .arrow_percent{
      width: 9px;
    }
  }
  .order_book_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    .order_book_bid {
      grid-column: 1;
    }
    .order_book_ask {
      grid-column: 2;
    }
  }

  .info_container{
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 40px;
    .graphic {
      grid-column: 1 / 7;
    }
    .info_currency {
      grid-column:  7 / 10;
      .info_currency_table {
        border: none;
        .currency_header {
          position:relative;
          vertical-align: middle;
          height: 100px;
          .currency_header_title {
            position:absolute;
            width: 100%;
            top:35px;
            left:85px;
            font-weight: 600;
            font-size: 20px;
          }
          .currency_header_img {
            position:relative;
            width: 70px;
          }
        }
        tr {
          .key_values {
            text-align: left;
            vertical-align: middle;
            font-weight: 600;
            font-size: 20px;
          }
          .usd_values {
            text-align: right;
            font-size: 10px;
            vertical-align: top;
          }
          .currency_values {
            font-weight: 600;
            vertical-align: bottom;
            font-size: 18px;
            text-align: right;
            border: none;
          }
        }
      }
    }
  }
}