section#exchange{
  .row {
    margin-top: 30px;
    background-color: white;
    padding: 20px 50px 20px 50px;
    .arrow_percent{
      width: 9px;
    }
    .currency_wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0;
      grid-auto-rows: 40px;
      margin: 5px 5px 5px 5px;
      background-color: #fafafa;
      .left-details{
        grid-column: 1;
        grid-row: 1 / 4;
        a{
          height:100%;
          width:100%;
        }
        img{
          width: 90px;
        }
        .center_image {
          margin: auto;
        }
        .vcenter {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .right-details{
        grid-column: 2;
        grid-row: 1 / 4;
        text-align: right;
      }
      .sub_header_type{
        margin-top: 5px;
        font-size: 10px;
        margin-right: 7px;
      }
      .sub_header_name{
        overflow:hidden;
        height: 30px;
        margin-top: -5px;
        margin-right: 7px;
        font-size: 14px;
        font-weight: bold;
      }
      .sub_header_volume{
        margin-top: -5px;
        margin-right: 7px;
        font-size: 12px;
      }
      .sub_header_change{
        display:inline-block;
        img{
          display:inline-block;
        }
        margin-top: -15px;
        margin-right: 7px;
        font-size: 12px;
      }
      .sub_header_change_green{
        color:darkgreen;
      }
      .sub_header_change_red{
        color: darkred;
      }
    }
  }
}