.border-common{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(97, 97, 97, 0.8) 0px 0 10px;
  -moz-box-shadow: rgba(97, 97, 97, 0.8) 0 0 10px;
  box-shadow: rgba(97, 97, 97, 0.8) 0 0 10px;
}

section#register{
  .row {
    input{
      background-color: #f5f5f5;
    }
    .button-primary{

      background-color: #333333;
    }
    font-family: "montserrat-regular", sans-serif;
    margin-top: 30px;
    background-color: white;
    padding: 50px 50px 0 50px
  }
}

section#home{
  .first-stop{
    background: url('../images/home/bg_1.jpg');
    background-size: cover!important;
    background-position: center!important;
    padding: 110px 0 50px 0;
    p{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      color: white;
      span{
        color:$secondaryColor;
        display: block;
      }
    }
    a{
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid;
      color: white;
      display: block;
      margin: auto;
      width: 330px;
      padding: 10px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      &:hover{
        background: white;
        color: $primaryBgColor;
      }
    }

    .example-wrapper {
      position: absolute;
      top: 50%;
      left: 65%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .arrow-example {
      position: relative;
      height: 150px;
      width: 125px;
      will-change: opacity, transform;
      -webkit-transition: all .3s cubic-bezier(.43,.27,.36,.83);
      transition: all .3s cubic-bezier(.43,.27,.36,.83);
    }

    .arrow-example > .dot {
      position: absolute;
      bottom: 0;
      left: 50px;
      height: 25px;
      width: 25px;
      will-change: transform;
      -webkit-transition: -webkit-transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: -webkit-transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: transform .3s cubic-bezier(.43,.27,.36,.83), -webkit-transform .3s cubic-bezier(.43,.27,.36,.83)
    }

    .arrow-example > .dot:after {
      content: '';
      position: absolute;
      top: 20%;
      left: 20%;
      display: block;
      height: 60%;
      width: 60%;
      background: white;
    }

    .arrow-example > .dot.-center {}

    .arrow-example > .dot.-center:nth-of-type(1) {
      left: 0;
      bottom: 50px;
    }

    .arrow-example > .dot.-center:nth-of-type(2) {
      left: 25px;
      bottom: 50px;
    }

    .arrow-example > .dot.-center:nth-of-type(3) {
      left: 50px;
      bottom: 50px;
    }

    .arrow-example > .dot.-center:nth-of-type(4) {
      left: 75px;
      bottom: 50px;
    }

    .arrow-example > .dot.-center:nth-of-type(5) {
      left: 100px;
      bottom: 50px;
    }

    .arrow-example > .dot.-center:nth-of-type(6) {
      left: 125px;
      bottom: 50px;
    }

    .arrow-example > .dot.-left-1 {
      left: 25px;
      bottom: 25px;
    }

    .arrow-example > .dot.-left-2 {
      left: 50px;
      bottom: 0;
    }

    .arrow-example > .dot.-right-1 {
      left: 25px;
      bottom: 75px;
    }

    .arrow-example > .dot.-right-2 {
      left: 50px;
      bottom: 100px;
    }

    .arrow-example.-hidden {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }

    .arrow-example.-hidden > .dot {}

    .arrow-example.-hidden > .dot:nth-of-type(1) {
      -webkit-transform: translateX(25px)                     translateY(25px);
      transform: translateX(25px)                     translateY(25px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(2) {
      -webkit-transform: translateX(-25px)                     translateY(-75px);
      transform: translateX(-25px)                     translateY(-75px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(3) {
      -webkit-transform: translateX(-50px)                     translateY(25px);
      transform: translateX(-50px)                     translateY(25px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(4) {
      -webkit-transform: translateX(50px)                     translateY(-75px);
      transform: translateX(50px)                     translateY(-75px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(5) {
      -webkit-transform: translateX(-50px)                     translateY(-75px);
      transform: translateX(-50px)                     translateY(-75px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(6) {
      -webkit-transform: translateX(75px)                     translateY(25px);
      transform: translateX(75px)                     translateY(25px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(7) {
      -webkit-transform: translateX(-50px)                     translateY(-50px);
      transform: translateX(-50px)                     translateY(-50px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(8) {
      -webkit-transform: translateX(50px)                     translateY(-25px);
      transform: translateX(50px)                     translateY(-25px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(9) {
      -webkit-transform: translateX(25px)                     translateY(25px);
      transform: translateX(25px)                     translateY(25px);
    }

    .arrow-example.-hidden > .dot:nth-of-type(10) {
      -webkit-transform: translateX(-25px)                     translateY(-75px);
      transform: translateX(-25px)                     translateY(-75px);
    }


    .example-wrapper1 {
      position: absolute;
      top: 50%;
      left: 33%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    .arrow-example1 {
      position: relative;
      height: 150px;
      width: 125px;
      will-change: opacity, transform;
      -webkit-transition: all .3s cubic-bezier(.43,.27,.36,.83);
      transition: all .3s cubic-bezier(.43,.27,.36,.83);
    }

    .arrow-example1 > .dot1 {
      position: absolute;
      bottom: 0;
      left: 50px;
      height: 25px;
      width: 25px;
      will-change: transform;
      -webkit-transition: -webkit-transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: -webkit-transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: transform .3s cubic-bezier(.43,.27,.36,.83);
      transition: transform .3s cubic-bezier(.43,.27,.36,.83), -webkit-transform .3s cubic-bezier(.43,.27,.36,.83)
    }

    .arrow-example1 > .dot1:after {
      content: '';
      position: absolute;
      top: 20%;
      left: 20%;
      display: block;
      height: 60%;
      width: 60%;
      background: white;
    }

    .arrow-example1 > .dot1.-center {}

    .arrow-example1 > .dot1.-center:nth-of-type(1) {
      left: 0;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-center:nth-of-type(2) {
      left: 25px;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-center:nth-of-type(3) {
      left: 50px;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-center:nth-of-type(4) {
      left: 75px;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-center:nth-of-type(5) {
      left: 100px;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-center:nth-of-type(6) {
      left: 125px;
      bottom: 50px;
    }

    .arrow-example1 > .dot1.-left-1 {
      left: 100px;
      bottom: 25px;
    }

    .arrow-example1 > .dot1.-left-2 {
      left: 75px;
      bottom: 0;
    }

    .arrow-example1 > .dot1.-right-1 {
      left: 100px;
      bottom: 75px;
    }

    .arrow-example1 > .dot1.-right-2 {
      left: 75px;
      bottom: 100px;
    }

    .arrow-example1.-hidden {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }

    .arrow-example1.-hidden > .dot1 {}

    .arrow-example1.-hidden > .dot1:nth-of-type(1) {
      -webkit-transform: translateX(25px)                     translateY(25px);
      transform: translateX(25px)                     translateY(25px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(2) {
      -webkit-transform: translateX(-25px)                     translateY(-75px);
      transform: translateX(-25px)                     translateY(-75px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(3) {
      -webkit-transform: translateX(-50px)                     translateY(25px);
      transform: translateX(-50px)                     translateY(25px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(4) {
      -webkit-transform: translateX(50px)                     translateY(-75px);
      transform: translateX(50px)                     translateY(-75px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(5) {
      -webkit-transform: translateX(-50px)                     translateY(-75px);
      transform: translateX(-50px)                     translateY(-75px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(6) {
      -webkit-transform: translateX(75px)                     translateY(25px);
      transform: translateX(75px)                     translateY(25px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(7) {
      -webkit-transform: translateX(-50px)                     translateY(-50px);
      transform: translateX(-50px)                     translateY(-50px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(8) {
      -webkit-transform: translateX(50px)                     translateY(-25px);
      transform: translateX(50px)                     translateY(-25px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(9) {
      -webkit-transform: translateX(25px)                     translateY(25px);
      transform: translateX(25px)                     translateY(25px);
    }

    .arrow-example1.-hidden > .dot1:nth-of-type(10) {
      -webkit-transform: translateX(-25px)                     translateY(-75px);
      transform: translateX(-25px)                     translateY(-75px);
    }
  }
  .casatoken-title{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    line-height: 50px;
    color: white;
  }
  .casatoken-title:hover{
    color:$secondaryColor;
  }
  section{
    padding: 90px 0;
    background: $primaryBgColor;
    background-size: cover!important;
    background-position: center!important;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      color: white;
    }
    &.second-stop, &.fourth-stop{
      background: url('../images/home/bg_3.jpg');
      p{
        max-width: 650px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
        padding: 20px;
      }
    }

    &#third-stop{
      padding: 0;
    }
    &.third-stop{
      //background: url('../images/home/bg_3.jpg');
      background: url('../images/home/bg_4.jpg');
      .invest-p{
        max-width: 650px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
        padding: 20px;
      }
      .owl-carousel{
        margin-left:12%;
        width: auto;
        margin-right:12%;
        .wrapper{
          width: auto;
          float: none;
          .property{
            .invest{
              visibility: hidden;
            }
            .location-img{
              width:13px;
            }
            min-height: 180px;
          }
        }
      }
    }

    &.fourth-stop {
      background: url('../images/home/bg_6.jpg');
      a{
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid;
        color: white;
        display: block;
        margin: auto;
        font-weight: bold;
        width: 140px;
        padding: 10px;
        text-align: center;
        &:hover{
          background: white;
          color: $primaryBgColor;
        }
      }
    }
    &.bottom-stop{
      //background-color: #0C161F!important;
      background: url('../images/home/bg_7.jpg');
      p{
        max-width: 850px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
        padding: 20px;
      }
    }
    &.fifth-stop {
      background: url('../images/home/bg_5.jpg');
      p{
        max-width: 650px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
        padding: 20px;
      }
      a{
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid;
        color: white;
        display: block;
        margin: auto;
        width: 210px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        &:hover{
          background: white;
          color: $primaryBgColor;
        }
      }
    }
  }
}

.tortainvest {
  position: relative;
  height: 35px; width: 35px;
  overflow: hidden;
  border-radius: 100%;
  background-color: $primaryColor;
}
.tortainvest::before {
   content: '';
   position: absolute;
   height: 100%; width: 100%;
   top: 0; left: 0;
   border-radius: inherit;
   background-color: $primaryColor;
   clip: rect(0, 35px, 17.5px, 0px);
  background-image: linear-gradient(var(--my-number-var), $secondaryColor, #fdcd1a 49.9%, transparent 50.1%, transparent 100%);
 }