section#register{
  .row {
    input{
      background-color: #f5f5f5;
    }
    .button-primary{

      background-color: #333333;
    }
    font-family: "montserrat-regular", sans-serif;
    margin-top: 30px;
    background-color: white;
    padding: 50px 50px 0 50px
  }
}

section#home{
  .first-stop{
    background: url('../images/home/bg_1.jpg');
    background-size: cover!important;
    background-position: center!important;
    padding: 110px 0 50px 0;
    p{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      color: white;
      span{
        color:$secondaryColor;
        display: block;
      }
    }
  }
  .casatoken-title{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    line-height: 50px;
    color: white;
  }
  .casatoken-title:hover{
    color:$secondaryColor;
  }
  section{
    padding: 90px 0;
    background: $primaryBgColor;
    background-size: cover!important;
    background-position: center!important;
    h1{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
      color: white;
    }
    &.second-stop, &.fourth-stop{
      background: url('../images/home/bg_3.jpg');
      p{
        max-width: 450px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        padding: 20px;
      }
    }

    &#third-stop{
      padding: 0;
    }
    &.third-stop{
      //background: url('../images/home/bg_3.jpg');
      background: url('../images/home/bg_4.jpg');
      .wrapper{
        width: auto;
        float: none;
        .property{
          min-height: 320px;
        }
      }
    }

    &.fourth-stop {
      //background: url('../images/home/bg_4.jpg');
      a{
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid;
        color: white;
        display: block;
        margin: auto;
        font-weight: bold;
        width: 140px;
        padding: 10px;
        text-align: center;
        &:hover{
          background: white;
          color: $primaryBgColor;
        }
      }
    }
    &.fifth-stop {
      background: url('../images/home/bg_5.jpg');
      p{
        max-width: 650px;
        color: white;
        text-align: center;
        margin: 0 auto 40px auto;
        font-size: 18px;
        padding: 20px;
      }
      a{
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid;
        color: white;
        display: block;
        margin: auto;
        width: 210px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        &:hover{
          background: white;
          color: $primaryBgColor;
        }
      }
    }
  }
}