section#properties{

  .wrapper {
    position: relative;
    width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    .property{
      background: white;
      padding: 15px;
      position: relative;
      .info {
        @include effect(all, 0.2s, ease);
        .image{
          height: 130px;
          width: 100%;
          background-size: cover;
          background-position: center;
        }
        .price {
          &:before {
            content: " ";
            position: absolute;
            left: 0;
            bottom: -6px;
            border-color: rgba(0, 0, 0, 0) rgba($primaryColor, 0.5) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            border-style: solid;
            border-width: 0 6px 6px 0;
            height: 0;
            width: 0;
          }
          position: absolute;
          top: 20px;
          left: 9px;
          background-color: $primaryColor;
          color: #fff;
          padding: 2px 20px 2px 10px;
          z-index: 10;
          @include br(0 4px 4px 0);
        }
      }
      .hover{
        @include effect(all, 0.2s, ease);
        opacity: 0;
        pointer-events: none;
        &:before{
          content: '';
          position: absolute;
          background: $primaryColor;
          opacity: 0.5;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        font-weight: bold;
        z-index: 2;
        .time_left{
          margin-top: 55px;
          div{
            width: 55px;
            height: 55px;
            display: inline-block;
            border: 1px solid;
            padding: 5px;
            border-radius: 50%;
            margin: 5px;
            font-size: 22px;
            small{
              display: block;
              line-height: 14px;
            }
          }
        }
        .vote{
          margin: 25px auto;
          width: 80%;
          height: 85px;
          .up, .down{
            width: 50%;
            padding: 15px;
            float: left;
            a {
              text-decoration: none;
              opacity: 0.5;
              i{
                color: white;
                font-size: 40px;
                font-weight: 300;
              }
              display: block;
              margin: 0 15px;
              &:hover, &.selected {
                opacity: 1;
              }
            }
            small{
              display: block;
            }
          }
          .up{
            border-right: 1px dashed white;
          }
        }

        .invest{
          >span{
            margin: 15px;
            display: block;
          }

          fieldset{
            width: 80%;
            display: block;
            margin: 10px auto;
            position: relative;
            input{
              width: 100%;
              color: #fff;
              padding-right: 40px;
              &:hover, &:focus{
                color:$primaryColor;
                +a{
                  color:$primaryColor;
                }
              }
            }
            a{
              position: absolute;
              right: 10px;
              top:15px;
              color:white;
              width: 40px;
              height: 32px;
              i{
                display: none;
                position: absolute;
                margin-top: 7px;
                margin-left: 10px;
              }
              &:hover,&.loading{
                small{
                  display: none;
                }
                i{
                  display: block;
                  color:$primaryColor;
                }
              }
            }
          }
        }

        >a{
          color:white;
          display: block;
          clear: both;
          margin: 40px auto;
        }
      }

      &:hover{
        .info {
          filter: blur(5px);
        }
        .hover {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    @media(max-width: 767px){
      width: 50%;
    }
    @media(max-width: 560px){
      width:100%;
    }
  }

  &.horizontal-view{
    .wrapper {
      width: 100%;
      .property{
        padding: 15px;
        .info{
          .image{
            width: 130px;
            background-image: url(images/no-image.png);
            display: inline-block;
            float: left;
            margin-right: 20px;
          }
        }

        .hover{
          .vote{
            margin-top: -80px;
            .up{
              border-right: none;
            }
            .down{

            }
            >a{
              display: inline-block;
              position: absolute;
              bottom: -20px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}
