section#create-wallet{
    width: 100%;
    input, textarea, select, button{
        width: 100%;
    }
    form{
        width: 100%;
        max-width: 800px;
    }
}

.wallets, .tokens{
    .wallet-wrapper{
        display: inline-block;
        width: 25%;
        padding: 10px;
        min-height: 175px;
        .wallet{
            border-style: solid;
            background: white;
            display: block;
            padding: 40px 10px;
            .left-details {
                .currency_name {
                    margin: 15px;
                    text-align: center;
                    color: #353535;
                    letter-spacing: 2px;
                    text-shadow: 1px 1px grey;
                    font-weight: bold;
                    font-size: 25px;
                }
                img {
                    width: 100px;
                    display: block;
                    margin: 0 auto 5px auto;
                }
            }
            .middle-details{
                display:none;
            }
            .right-details{
                display:none;
            }
        }
    }
    &.horizontal-view{
        .wallet-wrapper{
            width: 100%;
            min-height: 175px;
            .wallet{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(60px, auto);
                width: 100%;
                height: 175px;
                .left-details {
                    grid-column: 1;
                    grid-row: 1 / 3;
                    img {
                        width: 70px;
                        grid-row: 1 / 2;
                    }
                    .currency_name {
                        grid-row: 3;
                        text-align: center;
                        color: #353535;
                        letter-spacing: 2px;
                        text-shadow: 1px 1px grey;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                .right-details{
                    grid-column: 4;
                    grid-row: 1 / 3;
                    display:initial;
                    img {
                        width: 100px;
                        display: block;
                        margin: -15px auto 5px auto;
                    }
                    .address{
                        text-align: center;
                        color: #353535;
                        font-size: 13px;
                    }
                }
                .middle-details{
                    grid-column: 2 / 4;
                    grid-row: 1 / 3;
                    display:initial;
                    background-color: #f8f8f8;
                    margin-top: -35px;
                    .available_balance{
                        padding-top: 20px;
                        color: #353535;
                        float:left;
                        font-size: 18px;
                        margin-left:35px;
                        text-align:left;
                        font-weight: bold;
                    }
                    .balance{
                        padding-top: 20px;
                        color: #353535;
                        font-size: 18px;
                        float:right;
                        margin-right:35px;
                        text-align:right;
                        font-weight: bold;
                    }
                    .manage_button{
                        font-size: 15px;
                        font-weight: bold;
                        text-align:center;
                        position:absolute;
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}